body{
    background-color: lightblue;
}

p{
    font-size: 200%;
    color: DarkBlue;
}

img{
	width: 20%;
	display: none;
}

.bright{
	color: red;
	background-color: yellow;
}

.border{
	border: 25px solid black;
}
